# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.tower-defense.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\juriw\Desktop\Projekts\Unity\tower-defense\.idea\.idea.tower-defense\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
